{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">Read once - creating new message</h1>
    <p>Go back: <a href="{{ path('index') }}">Description</a>.</p>
    <p class="lead">
        Form here with submit - classic one.
    </p>
{% endblock %}