{% extends 'base.html.twig' %}

{% block body %}
    <h5>credits</h5>
    <h5>------------------</h5>
    <p class="lead">
        This is a sample app. It is a demo showing what can be done to keep some messages private.
        It should be kept as simple as possible.
    </p>
    <p class="lead">
        Created by GrzeGab.
    </p>
    <div class="menu mt-5">
        <ol>
            <li><a href="{{ path('index') }}">Go to start screen ...</a><span id="cursor">&nbsp;</span></li>
        </ol>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}