{% extends 'base.html.twig' %}

{% block body %}
    <h5>menu</h5>
    <h5>----</h5>
    <div class="menu">
        <ol>
            <li><a href="{{ path('createMessage') }}">Create new message ...</a></li>
            <li><a href="{{ path('verifyMessage') }}">Verify message by ID ...</a></li>
            <li><a href="{{ path('credits') }}">Credits ...</a><span id="cursor">&nbsp;</span></li>
        </ol>
    </div>
{% endblock %}