{% extends 'base.html.twig' %}

{% block body %}
    <h5>message created</h5>
    <h5>---------------</h5>
    <p class="lead">
        URL: <code>{{ url('readMessage', {'messageUuid': uuid}) }}</code>
    </p>
    <p class="lead">
        ID: <code>{{ uuid }}</code>
    </p>
    <p class="lead">
        Remember it work only once!
    </p>
    <div class="menu">
        <ol>
            <li><a href="{{ url('statusMessage', {'messageUuid': uuid}) }}" class="message_form_submit">Check msg
                    status ...</a></li>
            <li><a href="{{ path('index') }}">Go to start screen ...</a><span id="cursor">&nbsp;</span></li>
        </ol>
    </div>
{% endblock %}