{% extends 'base.html.twig' %}

{% block body %}
    <h5>message status</h5>
    <h5>------------------</h5>
    <h5><b>{{ messageValid ? 'OK' : 'Deleted' }}</b></h5>
    <div class="menu mt-5">
        <ol>
            <li><a href="{{ path('index') }}">Go to start screen ...</a><span id="cursor">&nbsp;</span></li>
        </ol>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create') }}
{% endblock %}