{% extends 'base.html.twig' %}

{% block body %}
    <h5>verify message by id</h5>
    <h5>--------------------</h5>
    {{ form(form) }}
    <div class="menu mt-2">
        <ol>
            <li><a href="#" class="verify_form_submit">Check ...</a></li>
            <li><a href="{{ path('index') }}">Go to start screen ...</a><span id="cursor">&nbsp;</span></li>
        </ol>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('verify') }}
{% endblock %}