{% extends 'base.html.twig' %}

{% block body %}
    <h5>Error !!!</h5>
    <h5>------------------</h5>
    <p class="lead">
        <code>{{ message }}</code>
    </p>
    <div class="menu">
        <ol>
            <li><a href="{{ path('index') }}">Go to main page ...</a><span id="cursor">&nbsp;</span></li>
        </ol>
    </div>
{% endblock %}